.banner {
	background-image: url(../img/santiago.jpg);
	background-size: cover;
	background-position: center;

}

.title {
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 180px;
	padding-bottom: 250px;
	color:#ECE9E3;
}
.icon-title {
	color:#ECE9E3;
	z-index: 2;
	margin-top: 20px;
	font-size: 45px;
}
.perfil {
	margin-top: 30px;
	width: 40%;
}

h2 {
	margin-top: 30px;
	font-family: 'Josefin Sans', sans-serif;
}
p {
	font-family: 'Josefin Sans', sans-serif;
}
.icon {
	font-size: 30px;
	margin-left: 10px;
}