
* {
	padding:0;
	margin:0;
}

.banner {
	background-image: url(../img/santiago.jpg);
	background-size: cover;
	background-position: center;

}
.menu {
	color:#BBB9B9;
	display: inline;

}

.menu-fondo {
	background-color: black;
	padding-top:15px;
}

.navbar-default {
	border-color:black;
}


.menu a {
	text-decoration: none;
	color:#228896;
	font-family: 'Josefin sans';
	margin-right: 50px;
	font-size: 13px;

}

.menu a:hover {
	color:#A9C52F;
}

.profile {
	padding-bottom: 30px;
}

.enlace:hover {
	color:#228896;
}


.title {
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 250px;
	color:#ECE9E3;
}
.subtitle {
	font-family: 'Josefin Sans', sans-serif;
	color:#C7C5C3;
	padding-bottom: 250px;
	
}
.icon-title {
	color:#228896;
	font-size: 30px;
	padding-bottom: 10px;
	
}

.icon-title:hover {
	color:#A9C52F;
}

#profile {
}
.perfil {
	padding-top: 70px;
	width: 40%;
}

/*.aparecen {
	display:none;
	visibility: hidden;
}*/

.skills {
	padding-bottom: 35px;


}

.profile-title {
	padding-top: 50px;
	padding-bottom: 10px;
	font-family: 'Josefin Sans', sans-serif;
}
.hability {
	font-family: 'Josefin Sans', sans-serif;
	display:inline-block;
	padding:15px;
}

.color-hability {
	color:#228896;
}

.margen-profile {
	padding-bottom: 20px;
}

p {
	font-family: 'Josefin Sans', sans-serif;

}
.icon {
	font-size: 30px;
	margin-left: 10px;
	margin-top: 15px;
}

.works {
	padding-bottom: 50px;
	background-color: #228896;

	
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
	padding-top:50px;
	padding-bottom: 30px;
}


.img-works {
	max-width: 100%;
	margin:5px;
	max-height: 350px;
	margin-bottom: 30px;
	border-radius: 3px;
	border:1px solid #1E2531;
}


.estilo-boton {
	text-decoration: none;
	color:black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13px; 
} 

.estilo-boton:hover {
	text-decoration: none;
	color:#A9C52F;
	}

.fa-github {
	font-size: 25px;
	color:black;
}

.fa-github:hover {
	color:#A9C52F;
}

.iconos {
	font-size: 30px;
	color:black;
	margin:10px;
}

.iconos a {
	color:black;
}

.iconos a:hover {
	transition-duration:1.5s;
	font-size:45px;
	color:#228896;
}

#contact {
	padding-bottom: 50px;
	background-color: #A9C52F;

}

.enlace {
	text-decoration: none;
	padding-top: 15px;
}

footer {
	background-color: black;
}

footer p {
	padding:20px;
	color:#228896;
}